body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.cellframe {
  border: 1px solid #bbb;
  float: left;
  line-height: 18px;
  height: 28px;
  width: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.cell {
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background: #ddd;
  border: 1px solid #ddd;
}

.cell-untouched {
  height: 100%;
  width: 100%;
  background: #ccc;
  border-width: 1px;
  border-style: solid;
  border-color: #fff #999 #999 #fff;
}

.cell:focus {
  outline: none;
}

.cell-untouched:focus {
  outline: none;
}

.cell:hover {
  outline: none;
}

.cell-untouched:hover {
  background: #dddddd;
}

.area-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  float: left;
}

.area {
  width: 1160px;
  height: 725px;
  display: inline-block;
  float: left;
}

.controlplane {
  border: 1px solid #999;
  margin: -1px;
  padding: 3px;
  z-index: 2;
  width: 320px;
  position: absolute;
  right: 20px;
  background: #fff;
}

.scoreboard {
  font-size: 18px;
  display: inline-block;
  background: #ddd;
}

.chatbox {
  overflow: hidden;
}

.chatdata {
  font-family: arial, sans-serif;
  font-weight:normal;
  font-size: 15px;
  height: 400px;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll; 
  overflow-x: hidden;
}

.chatmsg {
  margin: 0px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.inputcoord {
  width: 40px;
}

.navbuttons {
  display: block;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.aeilos {
  display: block;
}
