body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.square:focus {
  background: #ccc;
  outline: none;
}

.square:hover {
  background: #eee;
  outline: none;
}

.area {
  width: 1160px;
  height: 725px;
  display: inline-block;
  float: left;
}

.controlplane {
  border: 1px solid #999;
  margin: -1px;
  padding: 3px;
  z-index: 2;
  width: 220px;
  position: absolute;
  right: 20px;
  background: #fff;
}

.scoreboard {
  font-size: 100px;
  text-align: center;
  display: inline-block;
  background: #ddd;
}

.navbuttons {
  display: block;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.aeilos {
  display: block;
}
